@{
  Layout = "_Layout";
}

<div class="jumbotron text-center">
  <h1>Welcome to Eau Claire's Salon</h1>
</div>
<div class="text-center">
  <button class="btn btn-outline-primary">@Html.ActionLink("See all stylists", "Index", "Stylists")</button>
</div>
<hr />
<div>
  <img src='~/img/hairsalon.jpg' class="img-fluid" alt="" />
</div>

